@use '@scss/variables' as *;
@use '@scss/mixins' as *;

.file_viewer_container {
  @include dis-flex(null, null, null, null, null, 1);
  overflow: hidden;

  .file_media_viewer {
    @include dis-flex(center, center, null, null, null, 1);
  }

  .file_text_viewer {
    padding: $var-padding-l;
    flex-grow: 1;
  }
}
