@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.range_bar_container {
  background-color: $color-blue-bright;
  width: 100px;
  height: 7px;
  position: relative;
  cursor: pointer;

  .range_bar {
    @include pos-abs(top, left, 0%, 0%, 1, 0px, 7px);
    background-color: $color-blue-dark;
  }
}
