@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.button {
  background-color: $color-blue-dark;
  padding: $padding-s $padding-xl;
  border: 1px solid $color-blue-dark;
  box-shadow: 1px 3px 3px $color-grey-dark;
  transition: background-color $transition-time-xs ease;
  color: #ffffff;
  width: 100%;

  &:focus,
  &:hover {
    color: $color-blue-dark;
    transition: background-color $transition-time-xs ease;
    background-color: #ffffff;
  }

  &:disabled {
    background-color: $color-blue-bright;
    color: $color-grey-font;
    border: 1px solid transparent;
    cursor: auto;
  }
}
