@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.input_file_container {
  gap: $gap-xs;
  display: grid;
  grid-auto-columns: minmax(100px, auto);
  max-width: calc(10rem * 5);
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));

  .input_file_preview {
    @include dis-flex(null, null, 0rem, column);
    height: 9rem;
    
    > div {
      @include dis-flex(center, center);
      height: 6.7rem;
      width: 100%;

      > video, img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    
    .input_file_preview_header {
      @include dis-flex(center, null, $gap-xs);
      padding: $padding-xs $padding-s;
      margin-bottom: $margin-xs;
      border-bottom: 1px solid $color-grey-dark;

      > p {
        @include text-overflow();
      }

      .input_file_prevew_actions_section {
        @include dis-flex(center, unset, $gap-xs);
      
        > button:last-child {
          color: $color-red-dark;
        }
      }
    }
  }
}

.input_file_label {
  @include dis-flex(center, center, $gap-xs);
  padding: $padding-xxxxl;
  color: $color-blue-dark;
  border-bottom: 1px solid $color-blue-dark;
  box-shadow: $box-shadow-container;
  transition: background-color $transition-time-xs ease;
  font-size: $font-l;
  cursor: pointer;
  
  &:hover {
    background-color: $color-grey-dark;
    transition: background-color $transition-time-xs ease;
  }
}

.input_file_label__error {
  border-bottom: 1px solid $color-red-dark;
  background-color: $color-red-bright;
  color: $color-red-dark;
}

.input_file_list {
  @include dis-flex(null, null, 0, column);
  border-bottom: 1px solid $color-blue-dark;
  box-shadow: $box-shadow-container;
  transition: background-color $transition-time-xs ease;
  font-size: $font-l;
  width: calc($size-xxxxl * 10);
  overflow-y: auto;
  max-height: calc(10 * 61px);

  .input_file_item {
    @include text-overflow();
    @include dis-flex(center, space-between, $gap-xxxxl, row, nowrap, 1, 0);
    padding: $padding-m;
    border-bottom: 1px solid $color-grey-dark;
    background-color: #b6b6c833;

    &:last-child {
      border-bottom: none;
    }

    .input_file_name {
      @include text-overflow();
    }
  }
}
