@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.breadcrumbs_list {
  @include dis-flex(unset, unset, $gap-xs);
  padding: 0 0 0 $padding-xs;

  .breadcrumbs_list_item {
    @include dis-flex(center, unset, $gap-xs);
    color: $color-blue-dark;
    transition: background-color $transition-time-xs ease;
    width: fit-content;

    > p {
      padding: $padding-m 0;
    }

    > button {
      @include text-overflow();
      color: $color-blue-dark;
      border-radius: $border-radius-xs;
      padding: $padding-s $padding-m;
      cursor: pointer;

      &:hover {
        transition: background-color $transition-time-xs ease;
        background-color: $color-blue-bright;
      }
    }
  }
}
