@use "@scss/variables" as *; 
@use "@scss/mixins" as *; 

.folder {
  @include dis-flex(center, center, $gap-m);
  font-size: $size-xs;
  transition: 
    color $transition-time-xs ease,
    background-color $transition-time-xs ease,
    border $transition-time-xs ease;
  padding: $padding-l;
  border: 1px solid $color-grey-dark;
  height: calc($size-s * 6);
  width: 100%;
  position: relative;
  cursor: pointer;
  background-color: #ffff;
 
  > * {
    pointer-events: none;
  }

  > svg {
    flex-shrink: 0
  }

  > p { 
    @include text-overflow(); 
  }

  &:hover {
    color: $color-blue-dark;
    background-color: $color-blue-bright;
    border: 1px solid $color-blue-dark;
    transition: 
      color $transition-time-xs ease,
      background-color $transition-time-xs ease,
      border $transition-time-xs ease;
  }
}

.folder__selected {
  border: 1px solid $color-blue-dark;

  > * {
    color: $color-blue-dark;
  }  
}

.folder_statusbar {
  @include pos-abs(bottom, left, 0%, 0%, 1, 100%, fit-content);
  background-color: $color-blue-dark;
  color: #ffffff;
}
