@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.input_select_container {
  @include dis-flex(null, null, $gap-xs, column);
  
  .input_select {
    @include dis-flex(center, space-between, $gap-xxxxl);
    padding: $padding-m $padding-l;
    transition: background-color $transition-time-xs ease;
    box-shadow: $box-shadow-container; 
    border-bottom: 1px solid $color-blue-dark;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: $color-grey-dark;
      transition: background-color $transition-time-xs ease;
    }

    .input_select_placeholder {
      color: $color-grey-font;
    }

    .input_select_dropdown {
      // + 1px to see border bottom
      @include pos-abs(top, left, calc(100% + 1px), 0, 1, 100%, fit-content);
      @include dis-flex(null, null, null, column);
      transition: height $transition-time-s ease;
      box-shadow: $box-shadow-container;
      display: none;
      background-color: #ffffff;

      > li {
        padding: $padding-m $padding-l;
        border-bottom: 1px solid $color-grey-dark;

        &:hover {
          background-color: $color-grey-bright;
        }
      }
    }
  }

  .input_select__active {
    .input_select_arrow {
      transform: rotate(90deg);
    }

    .input_select_dropdown {
      display: flex;
    }
  }

  .input_select__error {
    border-bottom: 1px solid $color-red-dark;
    color: $color-red-dark;
    background-color: $color-red-bright;
  }
}
