@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.context_menu_container {
  @include dis-flex(null, null, null, column);
  height: 100%;
}

.context_menu_list {
  @include pos-fixed(top, left, 0%, 0%, 1, fit-content, fit-content);
  border: 1px solid $color-grey-dark;
  box-shadow: 0px 2px 1px $box-shadow-color-grey-bright;
  background-color: #ffffff;

  .context_menu_button {
    @include dis-flex(center, unset, $gap-xs);
    padding: $padding-m $padding-l;
    border-bottom: 1px solid $color-grey-dark;
    width: 100%;

    &:hover {
      color: $color-blue-dark;
      background-color: $color-blue-bright;
    }
  }

  > li:last-child .context_menu_button {
    border-bottom: none;
  }
}
