@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.input_checkbox_label {
  @include dis-flex(null, null, 0, column);

  .input_checkbox_container {
    @include dis-flex(center, null, $gap-xs);
    color: $color-grey-font;

    > input {
      &:hover ~ .input_checkbox,
      &:focus ~ .input_checkbox {
        background-color: $color-grey-dark;
        transition: background-color $transition-time-xs ease;
      }

      &:checked ~ .input_checkbox {
        padding: $padding-xs;
        background-color: $color-blue-dark !important;
      }
    }

    .input_checkbox {
      border-bottom: 1px solid $color-blue-dark;
      box-shadow: $box-shadow-container;
      transition: background-color $transition-time-xs ease;  
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }

  .input_checkbox_container__error {
     > input {
      &:hover,
      &:focus ~ .input_checkbox {
        background-color: $color-red-bright;
        transition: background-color $transition-time-xs ease;
      }
    }

    .input_checkbox {
      border-bottom: 1px solid $color-red-dark;
    }   
  }
}
