@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.empty_container {
  @include dis-flex(center, center, 0, unset, 1, 1);
  padding: $padding-s;
  color: $color-grey-font;
  width: 100%;
  height: 100%;

  .empty_body {
    @include dis-flex(center, unset, $gap-xs, column);
    width: calc($size-xxxxl * 10);
    text-align: center;

    .empty_header {
      font-size: $size-xl;
      padding-bottom: $padding-xs;
      color: #000000;
    }

    .empty_main {
      font-size: $size-s;
      flex-grow: 1;
    }

    .empty_footer {
      @include dis-flex(center, center, $gap-xs);
      font-size: $size-s;
      padding-top: $padding-s;
      flex-grow: 1;
      width: 100%;

      > a {
        background-color: $color-blue-dark;
        padding: $padding-s $padding-xl;
        border: 1px solid $color-blue-dark;
        box-shadow: 1px 3px 3px $box-shadow-color-grey-bright;
        transition: background-color $transition-time-xs ease;
        color: #ffffff;
        width: fit-content;

        &:hover {
          color: $color-blue-dark;
          transition: background-color $transition-time-xs ease;
          background-color: #ffffff;
        }
      }
    }
  }
}
