@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.empty_container {
  @include dis-flex(center, center, $var-gap-xs, unset, 1, 1);
  padding: $var-padding-s;
  font-size: $var-size-m;
  color: rgb(180, 180, 180);
  width: 100%;
  height: 100%;
}
