@use "@scss/mixins" as *;
@use "@scss/variables" as *;

.hybride_button {
  @include dis-flex(center, center);
  transition: 
    color $transition-time-xs ease,
    background-color $transition-time-xs ease,
    box-shadow $transition-time-xs ease;
  background-color: $color-grey-bright;
  padding: $padding-s;
  box-shadow: 0px 2px 1px $box-shadow-color-grey-bright;
  border-radius: $border-radius-s;
  color: #646464;

  &:hover {
    transition: 
      color $transition-time-xs ease,
      background-color $transition-time-xs ease,
      box-shadow $transition-time-xs ease;
    background-color: $color-blue-bright;
    box-shadow: 0px 2px 1px $color-blue-dark;
    color: $color-blue-dark;

    > svg {
      color: $color-blue-dark;
    }
  }

  &:disabled { 
    background-color: $color-disabled-bright;
    color: $color-disabled-dark;
    cursor: auto;
    pointer-events: none;
    box-shadow: none;

    > svg {
      color: $color-disabled-dark;
      border-right: 1px solid transparent;
    }
  }

  > svg {
    stroke-width: 1.2;
    color: #646464;
    min-width: fit-content;
  }
}

.hybride_button__full {
  padding: $padding-s $padding-m;  

  > svg {
    border-right: 1px solid $color-grey-dark;
    padding-right: $padding-s;
    margin-right: $padding-s;
  }
  
  &:hover > svg {
    border-right: 1px solid $color-blue-bright;
  }
}
