@use "@scss/mixins" as *; 
@use "@scss/variables" as *; 

.hybride_button_skeleton {
  @include dis-flex(center, center);
  @include skeleton();
  transition: 
    color $transition-time-xs ease,
    background-color $transition-time-xs ease,
    box-shadow $transition-time-xs ease;
  background-color: $color-grey-bright;
  padding: $padding-l;
  box-shadow: 0px 2px 1px $box-shadow-color-grey-bright;
  border-radius: $border-radius-s; 
  cursor: auto;
  height: 40px;
}

.hybride_button_skeleton__text_only {
  width: 60px;
}

.hybride_button_skeleton__icon_only {
  width: 40px;
}

.hybride_button_skeleton__full {
  width: 100px;
}

@include skeleton-keyframe();
