@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.form_header {
  font-size: $font-xxxxl;
  border-bottom: 1px solid $color-grey-dark;
  padding-bottom: $padding-m;
  font-weight: bolder;
  color: #000000;
}
