@use "@scss/mixins" as *;
@use "@scss/variables" as *;

.form_body {
  @include dis-flex(normal, normal, $gap-xs, column);

  .form_body_error {
    color: $color-red-dark;
    font-size: $font-l;
    padding: $padding-m $padding-l;
    border: 1px solid $color-red-dark;
    box-shadow: 1px 2px 2px $color-red-bright;
  }
}
