@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.media_controls_container {
  @include dis-flex(center, none, $var-gap-xs);
  border: 1px solid $var-border-color-black;
  box-shadow: 0px 0px 4px $var-box-shadow-color-black-bright;
  padding: $var-padding-s $var-padding-m;
  background-color: #ffffff;

  .media_data_container {
    @include dis-flex(center, none, $var-gap-xs);
  }

  .media_time {
    font-size: $var-font-xl;
    color: $var-color-blue;
    width: 80px;
  }

  > p, svg {
    color: $var-color-blue;
  }
}
