@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.error_container {
  @include dis-flex(center, center);
  height: 100%;

    .error_body {
      @include dis-flex(null, null, null, column);
      border: 1px solid $color-grey-font;
      width: 22.5rem;


    .error_header {
      @include dis-flex(center, null, $gap-xs);
      border-bottom: 1px solid $color-grey-dark;
      background-color: $color-blue-dark;
      padding: $padding-m $padding-l;
      color: #ffffff;

      > h3 {
        font-size: $font-xxxxl;
      }
    }

    .error_information {
      @include dis-flex(null, null, $gap-l, column);
      padding: $padding-l;
    }
  }
}
