@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.error_container {
  @include dis-flex(center, center);
  height: 100%;

    .error_body {
      @include dis-flex(null, null, null, column);
      border: 1px solid $var-border-color-black;
      width: 22.5rem;


    .error_header {
      @include dis-flex(center, null, $var-gap-xs);
      border-bottom: 1px solid $var-border-color-black;
      background-color: $var-color-blue;
      color: #ffffff;
      padding: $var-padding-m $var-padding-l;

      > h3 {
        font-size: $var-font-xxxxl;
      }
    }

    .error_information {
      @include dis-flex(null, null, $var-gap-l, column);
      padding: $var-padding-l;
    }
  }
}
