@use "@scss/mixins" as *;
@use "@scss/variables" as *;

.alert_container {
  background-color: $color-blue-dark;
  box-shadow: $box-shadow-container;
  font-size: $font-xl;
  color: #ffffff;

  .alert_header {
    @include dis-flex(center, unset, $gap-xs);
    font-size: $font-xxxl;
    padding: $padding-m $padding-l;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }

  .alert_body {
    padding: $padding-m $padding-l;
  }
}
