@use "@scss/mixins" as *;
@use "@scss/variables" as *;

.alert_list_container {
  background-color: $color-blue-dark;
  border-radius: $border-radius-m;
  box-shadow: $box-shadow-container;
  
  .alert_list_header {
    @include dis-flex(center, unset, $gap-xs);
    font-size: $font-xl;
    padding: $padding-s;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }
  
  .alert_list {
    padding: $padding-s;
    color: #ffffff;
  }
}
