@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.input_error_message {
  @include dis-flex(center, null, $gap-xs);
  color: $color-red-dark;
  font-size: $font-l;
  padding: $padding-s $padding-m;
  background-color: $color-red-bright;
  word-break: break-all;
}
