@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.side_menu_container {
  @include dis-flex(unset, unset, $gap-xs, column, unset, 0, 0);
  border: 1px solid $color-grey-dark;
  margin: 1rem;
  width: 30rem;
  background-color: #ffffff;

  > h3 {
    font-size: $font-xxxxl;
    color: $color-blue-dark;
    padding: $padding-m;
    border-bottom: 1px solid $color-grey-dark;
  }
}
