@use '@scss/variables' as *;
@use '@scss/mixins' as *;

.side_menu_section {
  @include dis-flex(unset, space-between, $var-gap-xxxxl);
  padding-bottom: $var-padding-m;
  border-bottom: 1px solid $var-border-color-black;

  > p:first-child {
    color: $var-color-blue;
  }

  > p:last-child {
    color: #8e918f;
  }
}
