@use '@scss/variables' as *;
@use '@scss/mixins' as *;

.modal_container {
  @include pos-fixed(top, left, 0%, 0%, 1, 100%, 100%);
  @include dis-flex(center, center);
  padding: $var-padding-xxxxl;
  background-color: #0000008a;

  .modal_body {
    @include dis-flex(unset, unset, 0, column);
    border: 1px solid $var-color-blue;
    background-color: #ffffff;
    max-width: 100%;
    max-height: 100%;

    .modal_header {
      @include dis-flex(center, space-between, $var-gap-xxxxl);
      padding: $var-padding-s $var-padding-m;
      border-bottom: 1px solid $var-border-color-black;
      box-shadow: 1px 2px 2px $var-box-shadow-color-black;

      > p {
        @include text-overflow();
        font-size: $var-font-xl;
      }
    }
    
    .modal_children_body {
      @include dis-flex(normal, normal);
    }
  }
}
