@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.input_text_label {
  @include dis-flex(unset, unset, 0, column);
  width: 100%;

  .input_text_container {
    @include dis-flex(center);
    border-bottom: 1px solid $color-blue-dark;
    box-shadow: $box-shadow-container;
    
    > input {
      padding: $padding-m calc($padding-xxxxl * 1.2) $padding-m $padding-m;
      transition: background-color $transition-time-xs ease;
      font-size: $font-l;
      transition: background-color $transition-time-xs ease;
      background-color: transparent;
      width: 100%;

      &:hover,
      &:focus {
        background-color: $color-grey-dark;
      }

      &::placeholder {
        color: $color-grey-font;
      }
    }

    > button {
      padding: 0 $padding-m;
      background-color: $color-grey-bright;
      transition: background-color $transition-time-xs;
      height: 100%;

      &:hover,
      &:focus {
        background-color: $color-grey-dark;
      }
    }
  }

  .input_text_container__error {
    border-bottom: 1px solid $color-red-dark;

    > input {
      transition: background-color $transition-time-xs ease;

      &:hover,
      &:focus {
        background-color: $color-red-bright;
      }

      &::placeholder {
        color: $color-red-dark;
      }
    }
  }
}
