@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.input_text_label {
  @include dis-flex(unset, unset, 0, column);
  width: 100%;

  .input_text_container {
    @include dis-flex(center);
    border-bottom: 1px solid $var-border-color-blue;
    box-shadow: 1px 3px 3px $var-box-shadow-color-black;
    
    > input {
      padding: $var-padding-m calc($var-padding-xxxxl * 1.2) $var-padding-m $var-padding-m;
      transition: background-color $var-transition-time-100ms ease;
      font-size: $var-font-l;
      transition: background-color $var-transition-time-100ms ease;
      background-color: transparent;
      width: 100%;

      &:hover,
      &:focus {
        background-color: $var-color-grey-dark;
      }

      &::placeholder {
        color: $var-color-grey-font;
      }
    }

    > button {
      padding: 0 $var-padding-m;
      background-color: $var-color-grey-bright;
      transition: background-color $var-transition-time-100ms;
      height: 100%;

      &:hover,
      &:focus {
        background-color: $var-color-grey-dark;
      }
    }
  }

  .input_text_container__error {
    border-bottom: 1px solid $var-border-color-red;

    > input {
      transition: background-color $var-transition-time-100ms ease;

      &:hover,
      &:focus {
        background-color: $var-background-color-red;
      }

      &::placeholder {
        color: $var-color-red;
      }
    }
  }
}
