@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.form_header {
  text-shadow: 3px 1px 5px $var-box-shadow-color-black;
  font-size: calc($var-font-xxxxl * 1.85);
  font-weight: bolder;
  color: #ffffff;
}
